.dis-f {
    display: flex;
}
.dis-b {
    display: block;
}
.flex1 {
    flex: 1;
}
.flex-d-c{
   flex-direction: column; 
}
.a-center{
    align-items: center;
}
.a-baseline{
    align-items: baseline;
}
.j-center{
    justify-content: center;
}
.j-left{
    justify-content: flex-start;
}
.j-right{
    justify-content: flex-end;
}
.pointer {
    cursor: pointer;
}
.bg-w {
    background: #fff;
}
.w100 {
    width: 100%;
}
.h0{
    height: 0;
}
.fl {
    float: left;
}

.fr {
    float: right;
}

.mar10 {
    margin: 10px;
}

.mar0 {
    margin: 0px;
}

.martb10 {
    margin: 10px 0;
}

.marlr10 {
    margin: 0 10px;
}

.martr10 {
    margin: 10px 10px 0 0;
}

.marbl10 {
    margin: 0 0 10px 10px;
}

.marl10 {
    margin-left: 10px;
}

.marr10 {
    margin-right: 10px;
}

.marb10 {
    margin-bottom: 10px;
}

.mart10 {
    margin-top: 10px;
}

.mart0 {
    margin-top: 0px;
}
.marb20{
    margin-bottom: 20px;
}
.pad10 {
    padding: 10px;
}

.pad0 {
    padding: 0px;
}

.padtb10 {
    padding: 10px 0;
}

.padlr10 {
    padding: 0 10px;
}

.padl10 {
    padding-left: 10px;
}

.padr10 {
    padding-right: 10px;
}

.padb10 {
    padding-bottom: 10px;
}

.padb0 {
    padding-bottom: 0px;
}

.padt10 {
    padding-top: 10px;
}

.padt0 {
    padding-top: 0px;
}

.txt-ovf ,.ellipsis{
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.center {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.ovf-h {
    overflow: hidden;
}

.ovf-v {
    overflow: visible;
}

.ovf-a {
    overflow: auto;
}

.ovf-v {
    overflow: visible;
}

.ovf-x-a {
    overflow: hidden;
    overflow-x: auto;
}

.ovf-y-a {
    overflow: hidden;
    overflow-y: auto;
}

.fit {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.h100 {
    height: 100%;
}

.bor4 {
    border: 1px solid #EBEEF5;
}

.bor-b {
    border-bottom: 1px solid #d9d9d9;
}

.pos-a {
    position: absolute;
}

.pos-r {
    position: relative;
}

.txr {
    text-align: right;
}

.txl {
    text-align: left;
}

.txc {
    text-align: center;
}

.hide {
    display: none;
}
ul,li{ padding:0;margin:0;list-style:none}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,strong{padding:0;margin:0;font-family:Arial,'Microsoft Yahei';}
.card0-jc{
    margin-bottom: 20px;
        border-radius: 6px;
    background: #ffff;
    .el-card__header{
            line-height: 38px;
             padding: 6px 20px;
             font-weight: 600;
                 font-size: 16px;
    }
}
.card0-jc-b0{
   .el-card__body{
           padding-bottom: 0;
   }
}
.kanbanHeader-blod {
    font-weight: 600;
    margin-top: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    line-height: 42px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.85);
    margin-bottom: 16px;
}
.jc-content{
    background-color: rgb(240, 242, 245);
    padding: 20px;
}