.menu-jc{
//  background: red;
  ::v-deep .el-tree-node__content{
    height: 36px;
} 
//::v-deep .el-tree-node__content:has(.isOneChildren){
//  color:red;
//}
.isOneChildren-node{
    
}
::v-deep .el-tree-node.isOneChildren-node > .el-tree-node__children{
//  display: none;
}
::v-deep .custom-tree-node{
    flex: 1;
    padding-right: 15px;
    .span{
    }
}
}

